# Getting the Cleaned Data to add some additional Attributes

In [1]:
import requests
from pandas.io.html import read_html
import pandas as pd
import re
import numpy as np
# import only html class
from lxml import html 
from urllib.error import HTTPError

In [2]:
CD=pd.read_excel("CleanedData.xlsx")
CD

,Name,AlternativeNames,SpectralType,BinaryorMultipleStarSystem,StarTypebasedonSpectralType,Colour,Galaxy,Constellation'sMainStar,NakedEyeVisible,RightAscension,...,IronAbundance,Radius,1997DistanceFromEarthInLightYears,1997DistanceFromEarthInParsecs,1997DistanceFromEarthInAU,2007DistanceFromEarthInLightYears,2007DistanceFromEarthInParsecs,2007DistanceFromEarthInAU,GalactoCentricDistanceIn Parsecs,GalactoCentricDistanceInLightYears
0,Alpha Andromedae,"Alpha Andromedae, Alf And, Sirrah, Sirah, Surr...",B9p,Yes,Star,Blue,Milky Way,Yes,Yes,00h 08m 23.17,...,0.38,2.700,97.07,29.76,6.138398e+06,97.01,29.74,6.134273e+06,7409.0,24165.44
1,Beta Andromedae,"Beta Andromedae, Bet And, HD 6860, TycId 2286-...",M0IIIvar,Yes,NaN,Red,Milky Way,Yes,Yes,01h 09m 43.80,...,-0.03,100.000,199.37,61.12,1.260682e+07,197.44,60.53,1.248512e+07,7433.0,24243.72
2,Delta Andromedae,"Del And, HD 3627, TycId 2275-1753-1, HIP 3092,...",K3III...,Yes,NaN,Orange to Red,Milky Way,Yes,Yes,00h 39m 19.60,...,0.15,13.600,101.32,31.07,6.408603e+06,105.52,32.35,6.672620e+06,7414.0,24181.75
3,51 Andromedae,"Upsilon Persei, HD 9927, TycId 3282-2271-1, HI...",K3III,NaN,NaN,Orange to Red,Milky Way,Yes,Yes,01h 37m 59.50,...,0.07,21.300,173.86,53.30,1.099384e+07,177.17,54.32,1.120423e+07,7435.0,24250.24
4,Omicron Andromedae,"Omicron Andromedae, Omi And, HD 217675, TycId ...",B6pv SB,Yes,NaN,Blue,Milky Way,No,Yes,23h 01m 55.25,...,0.03,6.600,692.49,212.31,4.379178e+07,686.66,210.53,4.342463e+07,7445.0,24282.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3437,U Vulpeculae,"HD 185059, TycId 1610-775-1, HIP 96458, BD+20 ...",F8IV,NaN,Subgiant Star,Yellow - White,Milky Way,No,Requires a 7x50 Binoculars,19h 36m 37.73,...,NaN,60.000,5528.19,1694.92,3.495999e+08,4868.11,1492.54,3.078563e+08,NaN,NaN
3438,HD 190228,"TycId 2153-1463-1, HIP 98714, BD+27 3593",G5IV,NaN,Subgiant Star,Yellow,Milky Way,No,Requires a 7x50 Binoculars,20h 03m 00.70,...,-0.23,NaN,202.59,62.11,1.281102e+07,200.96,61.61,1.270789e+07,7375.0,24054.55
3439,HD 189733,"Wolf 864, TycId 2141-972-1, HIP 98505, BD +22 ...",G5,NaN,Star,Yellow,Milky Way,No,Requires a 7x50 Binoculars,20h 00m 43.71,...,-0.02,0.805,62.80,19.25,3.970570e+06,63.44,19.45,4.011823e+06,7391.0,24106.73
3440,HD 188015,"TycId 2148-1948-1, HIP 97769, BD+27 3539",G5IV,NaN,Subgiant Star,Yellow,Milky Way,No,Requires a 7x50 Binoculars,19h 52m 04.51,...,0.25,NaN,171.66,52.63,1.085564e+07,185.95,57.01,1.175907e+07,7376.0,24057.81
3441,HD 203030,"TycId 2190-1095-1, HIP 105232, BD+25 4507",G8V,NaN,Main Sequence Star,Yellow,Milky Way,No,Requires a 7x50 Binoculars,21h 18m 58.13,...,0.03,NaN,133.24,40.85,8.425859e+06,133.35,40.88,8.432047e+06,7390.0,24103.47

In [3]:
name=CD["Name"]
name1=name.values
name1

array(['Alpha Andromedae', 'Beta Andromedae', 'Delta Andromedae', ...,
       'HD 189733', 'HD 188015', 'HD 203030'], dtype=object)

# Getting common available names/arabic names of stars

In [4]:
infoboxes = read_html("https://en.wikipedia.org/wiki/List_of_Arabic_star_names", index_col=0,attrs={"class":"wikitable"})

# Combining Data Frames that have same columns names

In [5]:
i=2
df_star=pd.DataFrame()
while i<24:
    df=infoboxes[i]
    df_star=df_star.append(df)
    i+=1

df_star

,Arabic name (transliteration),Meaning,Arabic name,Scientific star name,Arabic name.1,Arabic name (vowels)
Baham,Sa'ad ul-Biham,Luck of the Young Beasts,سعد البهام,Theta Pegasi,NaN,NaN
Baten Kaitos,Baṭni Qayṭus,Belly of Cetus,بطن قيطوس,Zeta Ceti,NaN,NaN
Beid,Bayḍ,Eggs,بيض,Omicron¹ Eridani,NaN,NaN
Benetnash,Banāt un-Naʿash,Daughters of the bier,بنات النعش,Eta Ursae Majoris see also Alkaid,NaN,NaN
Betelgeuse,yad ul-Jawzā',hand of the Central One,يد الجوزاء,Alpha Orionis,NaN,NaN
...,...,...,...,...,...,...
Wasat,Wasṭ us-Samā',"""Middle"" of the sky",وسط السماء,Delta Geminorum,NaN,NaN
Wezen,al-Wazn,the Weight,الوزن,Delta Canis Majoris,NaN,NaN
Wezn,al-Wazn,the Weight,الوزن,Beta Columbae,NaN,NaN
Yed Posterior,Mu'akhkhir Yad ul-Ḥawwā',(Back of the Snake Man's) Hand,مؤخّر يد الحوّاء,Epsilon Ophiuchi,NaN,NaN
Yed Prior,Muqaddim Yad ul-Ḥawwā',(Palm of the Snake Man's) Hand,مقدّم يد الحوّاء,Delta Ophiuchi,NaN,NaN

In [6]:
df_star.columns=['ArabicNameTransliteration','Meaning','ArabicName','ScientificStarName','Subgroup','ArabicVowel']
x=df_star.reset_index()

In [7]:
x.columns=['CommonName','ArabicNameTransliteration','Meaning','ArabicName','ScientificStarName','Subgroup','ArabicVowel']
x

,CommonName,ArabicNameTransliteration,Meaning,ArabicName,ScientificStarName,Subgroup,ArabicVowel
0,Baham,Sa'ad ul-Biham,Luck of the Young Beasts,سعد البهام,Theta Pegasi,NaN,NaN
1,Baten Kaitos,Baṭni Qayṭus,Belly of Cetus,بطن قيطوس,Zeta Ceti,NaN,NaN
2,Beid,Bayḍ,Eggs,بيض,Omicron¹ Eridani,NaN,NaN
3,Benetnash,Banāt un-Naʿash,Daughters of the bier,بنات النعش,Eta Ursae Majoris see also Alkaid,NaN,NaN
4,Betelgeuse,yad ul-Jawzā',hand of the Central One,يد الجوزاء,Alpha Orionis,NaN,NaN
...,...,...,...,...,...,...,...
112,Wasat,Wasṭ us-Samā',"""Middle"" of the sky",وسط السماء,Delta Geminorum,NaN,NaN
113,Wezen,al-Wazn,the Weight,الوزن,Delta Canis Majoris,NaN,NaN
114,Wezn,al-Wazn,the Weight,الوزن,Beta Columbae,NaN,NaN
115,Yed Posterior,Mu'akhkhir Yad ul-Ḥawwā',(Back of the Snake Man's) Hand,مؤخّر يد الحوّاء,Epsilon Ophiuchi,NaN,NaN
116,Yed Prior,Muqaddim Yad ul-Ḥawwā',(Palm of the Snake Man's) Hand,مقدّم يد الحوّاء,Delta Ophiuchi,NaN,NaN

# Combining DF's that have diff columns names

In [8]:
i=0
df_star_1=pd.DataFrame()
while i<2:
    df=infoboxes[i]
    df_star_1=df_star_1.append(df)
    i+=1

df_star_1

,Arabic name (transliteration),Meaning,Arabic name,Arabic name (vowels),Scientific star name,Transliterated Group,Group Name,Transliterated Subgroup,Meaning.1,Subgroup Name
Acamar,Ākhiru-n-Nahr,the River's or Stream's End/ Tail/ Edge/ Border,آخر النهر,آخِرُ ٱلْنََهْر,Theta Eridani,NaN,NaN,NaN,NaN,NaN
Achernar,Ākhiru-n-Nahr,the River's or Stream's End/ Tail/ Edge/ Border,آخر النهر,آخِرُ ٱلْنََهْر,Alpha Eridani,NaN,NaN,NaN,NaN,NaN
Acrab,ʽAqrab,the Scorpion,عَقْرَب,عقرب,Beta Scorpii,NaN,NaN,NaN,NaN,NaN
Acubens,ʼaz-Zubānā,the Claw/ Dart/ Sting,الزّبانى,الْزُّبَانَى,Alpha Cancri,NaN,NaN,NaN,NaN,NaN
Adhafera,aḍ-Ḍafiyrah/,the Braid/ Curl/ Strand (of the lion's mane),الضفيرة,الْضَّفِيرَة,Zeta Leonis,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
Auva,al-ʽAwwā',the Barking (Dog),الكوكاين,NaN,"Delta Virginis, ""Minelauva""",NaN,NaN,NaN,NaN,NaN
Azfar Adib,"ʼAẓfaāru ʼdh-Dhiʼb [Azw·faru ʼdh-Dhiʼb], ʼAẓfa...",the Wolf's Nails/ Fingerprints,أظفار الذئب,أَظْفَارُ ٱلْذِّئْب,Azfar Adib,NaN,NaN,NaN,NaN,NaN
Azha,Āshiyānah (Persian: Ôshyôneh),(Ostrich) Nest,اشیانه,NaN,Eta Eridani,NaN,NaN,NaN,NaN,NaN
Adhara,NaN,the Virgins/ Nymphs,NaN,NaN,Epsilon Canis Majoris,al-ʽAdhāriy,الْعَذَارِي,ʼAwwalu-l-ʽAdhāriy,First of the Virgins/ Nymphs,أَوَّلُ ٱلْعَذَارِي
Adhara,NaN,the Virgins/ Nymphs,NaN,NaN,Omicron² Canis Majoris,al-ʽAdhāriy,الْعَذَارِي,Thāniyu-l-ʽAdhāriy,Second of the Virgins/ Nymphs,ثَانِيُ ٱلْعَذَارِي

In [9]:
df_star_1.columns=['ArabicNameTransliteration','Meaning','ArabicName','ArabicVowel','ScientificStarName','G1','G2','G3','G4','G5']
a=df_star_1.reset_index()
a

,index,ArabicNameTransliteration,Meaning,ArabicName,ArabicVowel,ScientificStarName,G1,G2,G3,G4,G5
0,Acamar,Ākhiru-n-Nahr,the River's or Stream's End/ Tail/ Edge/ Border,آخر النهر,آخِرُ ٱلْنََهْر,Theta Eridani,NaN,NaN,NaN,NaN,NaN
1,Achernar,Ākhiru-n-Nahr,the River's or Stream's End/ Tail/ Edge/ Border,آخر النهر,آخِرُ ٱلْنََهْر,Alpha Eridani,NaN,NaN,NaN,NaN,NaN
2,Acrab,ʽAqrab,the Scorpion,عَقْرَب,عقرب,Beta Scorpii,NaN,NaN,NaN,NaN,NaN
3,Acubens,ʼaz-Zubānā,the Claw/ Dart/ Sting,الزّبانى,الْزُّبَانَى,Alpha Cancri,NaN,NaN,NaN,NaN,NaN
4,Adhafera,aḍ-Ḍafiyrah/,the Braid/ Curl/ Strand (of the lion's mane),الضفيرة,الْضَّفِيرَة,Zeta Leonis,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
59,Auva,al-ʽAwwā',the Barking (Dog),الكوكاين,NaN,"Delta Virginis, ""Minelauva""",NaN,NaN,NaN,NaN,NaN
60,Azfar Adib,"ʼAẓfaāru ʼdh-Dhiʼb [Azw·faru ʼdh-Dhiʼb], ʼAẓfa...",the Wolf's Nails/ Fingerprints,أظفار الذئب,أَظْفَارُ ٱلْذِّئْب,Azfar Adib,NaN,NaN,NaN,NaN,NaN
61,Azha,Āshiyānah (Persian: Ôshyôneh),(Ostrich) Nest,اشیانه,NaN,Eta Eridani,NaN,NaN,NaN,NaN,NaN
62,Adhara,NaN,the Virgins/ Nymphs,NaN,NaN,Epsilon Canis Majoris,al-ʽAdhāriy,الْعَذَارِي,ʼAwwalu-l-ʽAdhāriy,First of the Virgins/ Nymphs,أَوَّلُ ٱلْعَذَارِي
63,Adhara,NaN,the Virgins/ Nymphs,NaN,NaN,Omicron² Canis Majoris,al-ʽAdhāriy,الْعَذَارِي,Thāniyu-l-ʽAdhāriy,Second of the Virgins/ Nymphs,ثَانِيُ ٱلْعَذَارِي

In [10]:
a.columns=['CommonName','ArabicNameTransliteration','Meaning','ArabicName','ArabicVowel','ScientificStarName','G1','G2','G3','G4','G5']
a

,CommonName,ArabicNameTransliteration,Meaning,ArabicName,ArabicVowel,ScientificStarName,G1,G2,G3,G4,G5
0,Acamar,Ākhiru-n-Nahr,the River's or Stream's End/ Tail/ Edge/ Border,آخر النهر,آخِرُ ٱلْنََهْر,Theta Eridani,NaN,NaN,NaN,NaN,NaN
1,Achernar,Ākhiru-n-Nahr,the River's or Stream's End/ Tail/ Edge/ Border,آخر النهر,آخِرُ ٱلْنََهْر,Alpha Eridani,NaN,NaN,NaN,NaN,NaN
2,Acrab,ʽAqrab,the Scorpion,عَقْرَب,عقرب,Beta Scorpii,NaN,NaN,NaN,NaN,NaN
3,Acubens,ʼaz-Zubānā,the Claw/ Dart/ Sting,الزّبانى,الْزُّبَانَى,Alpha Cancri,NaN,NaN,NaN,NaN,NaN
4,Adhafera,aḍ-Ḍafiyrah/,the Braid/ Curl/ Strand (of the lion's mane),الضفيرة,الْضَّفِيرَة,Zeta Leonis,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
59,Auva,al-ʽAwwā',the Barking (Dog),الكوكاين,NaN,"Delta Virginis, ""Minelauva""",NaN,NaN,NaN,NaN,NaN
60,Azfar Adib,"ʼAẓfaāru ʼdh-Dhiʼb [Azw·faru ʼdh-Dhiʼb], ʼAẓfa...",the Wolf's Nails/ Fingerprints,أظفار الذئب,أَظْفَارُ ٱلْذِّئْب,Azfar Adib,NaN,NaN,NaN,NaN,NaN
61,Azha,Āshiyānah (Persian: Ôshyôneh),(Ostrich) Nest,اشیانه,NaN,Eta Eridani,NaN,NaN,NaN,NaN,NaN
62,Adhara,NaN,the Virgins/ Nymphs,NaN,NaN,Epsilon Canis Majoris,al-ʽAdhāriy,الْعَذَارِي,ʼAwwalu-l-ʽAdhāriy,First of the Virgins/ Nymphs,أَوَّلُ ٱلْعَذَارِي
63,Adhara,NaN,the Virgins/ Nymphs,NaN,NaN,Omicron² Canis Majoris,al-ʽAdhāriy,الْعَذَارِي,Thāniyu-l-ʽAdhāriy,Second of the Virgins/ Nymphs,ثَانِيُ ٱلْعَذَارِي

In [11]:
y=a[['CommonName','ArabicNameTransliteration','Meaning','ArabicName','ArabicVowel','ScientificStarName']]
y

,CommonName,ArabicNameTransliteration,Meaning,ArabicName,ArabicVowel,ScientificStarName
0,Acamar,Ākhiru-n-Nahr,the River's or Stream's End/ Tail/ Edge/ Border,آخر النهر,آخِرُ ٱلْنََهْر,Theta Eridani
1,Achernar,Ākhiru-n-Nahr,the River's or Stream's End/ Tail/ Edge/ Border,آخر النهر,آخِرُ ٱلْنََهْر,Alpha Eridani
2,Acrab,ʽAqrab,the Scorpion,عَقْرَب,عقرب,Beta Scorpii
3,Acubens,ʼaz-Zubānā,the Claw/ Dart/ Sting,الزّبانى,الْزُّبَانَى,Alpha Cancri
4,Adhafera,aḍ-Ḍafiyrah/,the Braid/ Curl/ Strand (of the lion's mane),الضفيرة,الْضَّفِيرَة,Zeta Leonis
...,...,...,...,...,...,...
59,Auva,al-ʽAwwā',the Barking (Dog),الكوكاين,NaN,"Delta Virginis, ""Minelauva"""
60,Azfar Adib,"ʼAẓfaāru ʼdh-Dhiʼb [Azw·faru ʼdh-Dhiʼb], ʼAẓfa...",the Wolf's Nails/ Fingerprints,أظفار الذئب,أَظْفَارُ ٱلْذِّئْب,Azfar Adib
61,Azha,Āshiyānah (Persian: Ôshyôneh),(Ostrich) Nest,اشیانه,NaN,Eta Eridani
62,Adhara,NaN,the Virgins/ Nymphs,NaN,NaN,Epsilon Canis Majoris
63,Adhara,NaN,the Virgins/ Nymphs,NaN,NaN,Omicron² Canis Majoris

# Appending both data frames

In [12]:
NewDF=x.append(y)
NewDF

,CommonName,ArabicNameTransliteration,Meaning,ArabicName,ScientificStarName,Subgroup,ArabicVowel
0,Baham,Sa'ad ul-Biham,Luck of the Young Beasts,سعد البهام,Theta Pegasi,NaN,NaN
1,Baten Kaitos,Baṭni Qayṭus,Belly of Cetus,بطن قيطوس,Zeta Ceti,NaN,NaN
2,Beid,Bayḍ,Eggs,بيض,Omicron¹ Eridani,NaN,NaN
3,Benetnash,Banāt un-Naʿash,Daughters of the bier,بنات النعش,Eta Ursae Majoris see also Alkaid,NaN,NaN
4,Betelgeuse,yad ul-Jawzā',hand of the Central One,يد الجوزاء,Alpha Orionis,NaN,NaN
...,...,...,...,...,...,...,...
59,Auva,al-ʽAwwā',the Barking (Dog),الكوكاين,"Delta Virginis, ""Minelauva""",NaN,NaN
60,Azfar Adib,"ʼAẓfaāru ʼdh-Dhiʼb [Azw·faru ʼdh-Dhiʼb], ʼAẓfa...",the Wolf's Nails/ Fingerprints,أظفار الذئب,Azfar Adib,NaN,أَظْفَارُ ٱلْذِّئْب
61,Azha,Āshiyānah (Persian: Ôshyôneh),(Ostrich) Nest,اشیانه,Eta Eridani,NaN,NaN
62,Adhara,NaN,the Virgins/ Nymphs,NaN,Epsilon Canis Majoris,NaN,NaN
63,Adhara,NaN,the Virgins/ Nymphs,NaN,Omicron² Canis Majoris,NaN,NaN

In [13]:
ssn=NewDF['ScientificStarName']
ssn_1=ssn.values
ssn_1

array(['Theta Pegasi', 'Zeta Ceti', 'Omicron¹ Eridani',
       'Eta Ursae Majoris see also Alkaid', 'Alpha Orionis',
       'Delta Arietis', 'Beta Cassiopeiae', 'Beta Ophiuchi',
       'Theta Leonis', 'Beta Eridani', 'Beta Capricorni', 'alpha Cygni',
       'Delta Capricorni', 'Epsilon Delphini',
       'Beta Ceti see also Diphda', 'Beta Leonis', 'Beta Ceti',
       'Delta Scorpii', 'Alpha Ursae Majoris', 'Psi Draconis',
       'Iota Draconis', 'Beta Tauri', 'Gamma Draconis', 'Epsilon Pegasi',
       'Gamma Cephei', 'Alpha Piscis Austrini', 'Zeta Canis Majoris',
       'refers to two stars: Gamma Corvi aka Gienah Corvi, in Corvus Epsilon Cygni aka Gienah Cygni, in Cygnus',
       'Beta Canis Minoris', 'Beta Centauri', 'Alpha Arietis',
       'Lambda Orionis see also Meissa', 'Zeta Pegasi', 'Rho Scorpii',
       'Epsilon Boötis', 'Nu Scorpii', 'Iota Aurigae also named Hassaleh',
       'Gamma Ceti',
       'Epsilon Sagittarii Delta Sagittarii Lambda Sagittarii',
       'Omicron² Eridani', 'Alpha Equulei', 'Beta Ursae Minoris',
       'Xi Cephei', 'Upsilon Scorpii', 'Beta Leonis', 'Lambda Herculis',
       'Epsilon Aurigae', 'Alpha Pegasi', 'Lambda Ophiuchi',
       'Alpha Pegasi', 'Kappa Velorum', 'Eta Pegasi', 'Epsilon Geminorum',
       'Delta Ursae Majoris', 'Lambda Orionis', 'Zeta Geminorum',
       'Epsilon Cancri', 'Beta Aurigae', 'Alpha Ceti', 'Theta Centauri',
       nan, 'Beta Ursae Majoris', 'Delta Orionis', 'Beta Andromedae',
       'Epsilon Boötis', 'Alpha Persei', 'Zeta Ursae Majoris',
       'Alpha Trianguli', 'Gamma Centauri', 'Gamma Canis Majoris',
       'Eta Boötis', 'Beta Canis Majoris', 'Gamma Capricorni',
       'Beta Boötis', 'Beta Leporis', 'Beta Coronae Borealis',
       'Gamma Sagittarii', 'Alpha Piscium', 'Alpha Columbae',
       'Gamma Ursae Majoris', 'Gamma Ursae Minoris', 'Epsilon Leonis',
       'Alpha Herculis', 'Alpha Ophiuchi', 'Beta Draconis',
       'Beta Orionis see also Algebar', 'Alpha Centauri', 'Alpha Piscium',
       'Delta Cassiopeiae', 'Alpha Sagittarii', 'Eta Ophiuchi',
       'Gamma Aquarii', 'Mu Pegasi', 'Alpha Aquarii', 'Beta Aquarii',
       'Gamma Cygni', 'Kappa Orionis', 'Beta Pegasi', 'Lambda Scorpii',
       'Alpha Cassiopeiae', 'Beta Lyrae', 'Beta Arietis',
       'Alpha Andromedae', 'Delta Aquarii', 'Alpha Virginis',
       'Gamma Lyrae', 'Kappa Ursae Majoris', 'Mu Ursae Majoris',
       'Beta Cancri', 'Alpha Draconis', 'Alpha Serpentis', 'Alpha Lyrae',
       'Delta Geminorum', 'Delta Canis Majoris', 'Beta Columbae',
       'Epsilon Ophiuchi', 'Delta Ophiuchi', 'Theta Eridani',
       'Alpha Eridani', 'Beta Scorpii', 'Alpha Cancri', 'Zeta Leonis',
       nan, 'Xi Andromedae', 'Alpha Draconis, "Thuban"', 'Epsilon Tauri',
       'Eta Lyrae',
       'Gamma Draconis, Xi Draconis, Nu Draconis, Beta Draconis', nan,
       'Epsilon Aquarii', 'Alpha Corvi', nan, 'Alpha Tauri', nan,
       'Alpha Cephei', 'Zeta Draconis',
       'Zeta Draconis (Aldhibah), Eta Draconis', 'Epsilon Delphini',
       'Beta Cephei', 'Beta Orionis, "Rigel"', 'Alpha2 Capricorni',
       'Gamma Pegasi', 'Gamma Leonis', 'Beta Persei, the "Demon Star"',
       'Delta Corvi', 'Gamma Geminorum, "Almeisan"',
       'Epsilon Ursae Majoris', 'Eta Ursae Majoris', 'Alpha Crateris',
       'Gamma Andromedae', 'Gamma Geminorum, "Alhena"', 'Alpha Gruis',
       'Gamma² Sagittarii', 'Epsilon Orionis', 'Zeta Orionis',
       'Alpha Hydrae', 'Alpha Coronae Borealis', 'Alpha Andromedae',
       'HD 161693, HR 6618', 'Alpha Piscium', 'Sigma Draconis',
       'any of: Canopus, Velorum, or Lambda Velorum', 'Alpha Aquilae',
       'Delta Draconis', 'Lambda Leonis', 'Eta Canis Majoris',
       'Xi Ursae Majoris and Nu Ursae Majoris', 'Theta Serpentis',
       'Delta Velorum', 'Tau² Eridani', 'Alpha Phoenicis',
       'Beta Sagittarii', 'Alpha Leporis', 'Arrakis', 'Beta Draconis',
       'Omicron Persei', 'Delta Virginis, "Minelauva"', 'Azfar Adib',
       'Eta Eridani', 'Epsilon Canis Majoris', 'Omicron² Canis Majoris'],
      dtype=object)

# Cleaning some scientific names

In [14]:
ssn_1
ssn_2=[]
for i in ssn_1:
    if isinstance(i,float):
        ssn_2.append(np.nan)
    else:
        i=i.replace("see also Diphda","")
        i=i.replace('Delta Virginis, "Minelauva"','Delta Virginis')
        i=i.replace("Xi Ursae Majoris and Nu Ursae Majoris",'Nu Ursae Majoris')
        i=i.replace("Lambda Orionis see also Meissa","Meissa")
        i=i.replace("any of: Canopus, Velorum, or Lambda Velorum",'Lambda Velorum')
        i=i.replace("Epsilon Sagittarii Delta Sagittarii Lambda Sagittarii","Epsilon Sagittarii")
        i=i.replace("Eta Ursae Majoris see also Alkaid","Eta Ursae Majoris")
        i=i.replace("Iota Aurigae also named Hassaleh",'Iota Aurigae')
        i=i.replace("Beta Orionis see also Algebar",'Rigel')
        i=i.replace("refers to two stars: Gamma Corvi aka Gienah Corvi, in Corvus Epsilon Cygni aka Gienah Cygni, in Cygnus","Gamma Corvi")
        i=i.replace("Zeta Draconis (Aldhibah)","Zeta Draconis")
        i=i.replace("Alpha Orionis","Betelgeuse")
        i=i.replace("alpha Cygni","Deneb")
        i=i.replace("Beta Leonis","Denebola")
        i=i.replace("Alpha Piscis Austrini"," Fomalhaut")
        i=i.replace("Delta Orionis","Mintaka")
        i=i.replace("Alpha Virginis","Spica")
        i=i.replace("Alpha Draconis","Thuban")
        i=i.replace("Alpha Lyrae","Vega")
        i=i.replace("Alpha Eridani","Achernar")
        i=i.replace("Alpha Tauri","Aldebaran")
        if '¹'in i:
            i=i.replace('¹','1')
            ssn_2.append(i.strip())
        elif '²' in i:
            i=i.replace('²','2')
            ssn_2.append(i.strip())
        elif ',' in i:
            t=i.split(',') 
            x=t[0].strip()
            ssn_2.append(x)
        else:
            ssn_2.append(i)

ssn_2

['Theta Pegasi',
 'Zeta Ceti',
 'Omicron1 Eridani',
 'Eta Ursae Majoris',
 'Betelgeuse',
 'Delta Arietis',
 'Beta Cassiopeiae',
 'Beta Ophiuchi',
 'Theta Leonis',
 'Beta Eridani',
 'Beta Capricorni',
 'Deneb',
 'Delta Capricorni',
 'Epsilon Delphini',
 'Beta Ceti ',
 'Denebola',
 'Beta Ceti',
 'Delta Scorpii',
 'Alpha Ursae Majoris',
 'Psi Draconis',
 'Iota Draconis',
 'Beta Tauri',
 'Gamma Draconis',
 'Epsilon Pegasi',
 'Gamma Cephei',
 ' Fomalhaut',
 'Zeta Canis Majoris',
 'Gamma Corvi',
 'Beta Canis Minoris',
 'Beta Centauri',
 'Alpha Arietis',
 'Meissa',
 'Zeta Pegasi',
 'Rho Scorpii',
 'Epsilon Boötis',
 'Nu Scorpii',
 'Iota Aurigae',
 'Gamma Ceti',
 'Epsilon Sagittarii',
 'Omicron2 Eridani',
 'Alpha Equulei',
 'Beta Ursae Minoris',
 'Xi Cephei',
 'Upsilon Scorpii',
 'Denebola',
 'Lambda Herculis',
 'Epsilon Aurigae',
 'Alpha Pegasi',
 'Lambda Ophiuchi',
 'Alpha Pegasi',
 'Kappa Velorum',
 'Eta Pegasi',
 'Epsilon Geminorum',
 'Delta Ursae Majoris',
 'Lambda Orionis',
 'Zeta Geminorum',
 'Epsilon Cancri',
 'Beta Aurigae',
 'Alpha Ceti',
 'Theta Centauri',
 nan,
 'Beta Ursae Majoris',
 'Mintaka',
 'Beta Andromedae',
 'Epsilon Boötis',
 'Alpha Persei',
 'Zeta Ursae Majoris',
 'Alpha Trianguli',
 'Gamma Centauri',
 'Gamma Canis Majoris',
 'Eta Boötis',
 'Beta Canis Majoris',
 'Gamma Capricorni',
 'Beta Boötis',
 'Beta Leporis',
 'Beta Coronae Borealis',
 'Gamma Sagittarii',
 'Alpha Piscium',
 'Alpha Columbae',
 'Gamma Ursae Majoris',
 'Gamma Ursae Minoris',
 'Epsilon Leonis',
 'Alpha Herculis',
 'Alpha Ophiuchi',
 'Beta Draconis',
 'Rigel',
 'Alpha Centauri',
 'Alpha Piscium',
 'Delta Cassiopeiae',
 'Alpha Sagittarii',
 'Eta Ophiuchi',
 'Gamma Aquarii',
 'Mu Pegasi',
 'Alpha Aquarii',
 'Beta Aquarii',
 'Gamma Cygni',
 'Kappa Orionis',
 'Beta Pegasi',
 'Lambda Scorpii',
 'Alpha Cassiopeiae',
 'Beta Lyrae',
 'Beta Arietis',
 'Alpha Andromedae',
 'Delta Aquarii',
 'Spica',
 'Gamma Lyrae',
 'Kappa Ursae Majoris',
 'Mu Ursae Majoris',
 'Beta Cancri',
 'Thuban',
 'Alpha Serpentis',
 'Vega',
 'Delta Geminorum',
 'Delta Canis Majoris',
 'Beta Columbae',
 'Epsilon Ophiuchi',
 'Delta Ophiuchi',
 'Theta Eridani',
 'Achernar',
 'Beta Scorpii',
 'Alpha Cancri',
 'Zeta Leonis',
 nan,
 'Xi Andromedae',
 'Thuban',
 'Epsilon Tauri',
 'Eta Lyrae',
 'Gamma Draconis',
 nan,
 'Epsilon Aquarii',
 'Alpha Corvi',
 nan,
 'Aldebaran',
 nan,
 'Alpha Cephei',
 'Zeta Draconis',
 'Zeta Draconis',
 'Epsilon Delphini',
 'Beta Cephei',
 'Beta Orionis',
 'Alpha2 Capricorni',
 'Gamma Pegasi',
 'Gamma Leonis',
 'Beta Persei',
 'Delta Corvi',
 'Gamma Geminorum',
 'Epsilon Ursae Majoris',
 'Eta Ursae Majoris',
 'Alpha Crateris',
 'Gamma Andromedae',
 'Gamma Geminorum',
 'Alpha Gruis',
 'Gamma2 Sagittarii',
 'Epsilon Orionis',
 'Zeta Orionis',
 'Alpha Hydrae',
 'Alpha Coronae Borealis',
 'Alpha Andromedae',
 'HD 161693',
 'Alpha Piscium',
 'Sigma Draconis',
 'Lambda Velorum',
 'Alpha Aquilae',
 'Delta Draconis',
 'Lambda Leonis',
 'Eta Canis Majoris',
 'Nu Ursae Majoris',
 'Theta Serpentis',
 'Delta Velorum',
 'Tau2 Eridani',
 'Alpha Phoenicis',
 'Beta Sagittarii',
 'Alpha Leporis',
 'Arrakis',
 'Beta Draconis',
 'Omicron Persei',
 'Delta Virginis',
 'Azfar Adib',
 'Eta Eridani',
 'Epsilon Canis Majoris',
 'Omicron2 Canis Majoris']

In [15]:
ar=np.array(ssn_2)
NewDF['ScientificStarName']=ar
NewDF

,CommonName,ArabicNameTransliteration,Meaning,ArabicName,ScientificStarName,Subgroup,ArabicVowel
0,Baham,Sa'ad ul-Biham,Luck of the Young Beasts,سعد البهام,Theta Pegasi,NaN,NaN
1,Baten Kaitos,Baṭni Qayṭus,Belly of Cetus,بطن قيطوس,Zeta Ceti,NaN,NaN
2,Beid,Bayḍ,Eggs,بيض,Omicron1 Eridani,NaN,NaN
3,Benetnash,Banāt un-Naʿash,Daughters of the bier,بنات النعش,Eta Ursae Majoris,NaN,NaN
4,Betelgeuse,yad ul-Jawzā',hand of the Central One,يد الجوزاء,Betelgeuse,NaN,NaN
...,...,...,...,...,...,...,...
59,Auva,al-ʽAwwā',the Barking (Dog),الكوكاين,Delta Virginis,NaN,NaN
60,Azfar Adib,"ʼAẓfaāru ʼdh-Dhiʼb [Azw·faru ʼdh-Dhiʼb], ʼAẓfa...",the Wolf's Nails/ Fingerprints,أظفار الذئب,Azfar Adib,NaN,أَظْفَارُ ٱلْذِّئْب
61,Azha,Āshiyānah (Persian: Ôshyôneh),(Ostrich) Nest,اشیانه,Eta Eridani,NaN,NaN
62,Adhara,NaN,the Virgins/ Nymphs,NaN,Epsilon Canis Majoris,NaN,NaN
63,Adhara,NaN,the Virgins/ Nymphs,NaN,Omicron2 Canis Majoris,NaN,NaN

In [16]:
NewDF=NewDF.drop('Subgroup',1)
NewDF

,CommonName,ArabicNameTransliteration,Meaning,ArabicName,ScientificStarName,ArabicVowel
0,Baham,Sa'ad ul-Biham,Luck of the Young Beasts,سعد البهام,Theta Pegasi,NaN
1,Baten Kaitos,Baṭni Qayṭus,Belly of Cetus,بطن قيطوس,Zeta Ceti,NaN
2,Beid,Bayḍ,Eggs,بيض,Omicron1 Eridani,NaN
3,Benetnash,Banāt un-Naʿash,Daughters of the bier,بنات النعش,Eta Ursae Majoris,NaN
4,Betelgeuse,yad ul-Jawzā',hand of the Central One,يد الجوزاء,Betelgeuse,NaN
...,...,...,...,...,...,...
59,Auva,al-ʽAwwā',the Barking (Dog),الكوكاين,Delta Virginis,NaN
60,Azfar Adib,"ʼAẓfaāru ʼdh-Dhiʼb [Azw·faru ʼdh-Dhiʼb], ʼAẓfa...",the Wolf's Nails/ Fingerprints,أظفار الذئب,Azfar Adib,أَظْفَارُ ٱلْذِّئْب
61,Azha,Āshiyānah (Persian: Ôshyôneh),(Ostrich) Nest,اشیانه,Eta Eridani,NaN
62,Adhara,NaN,the Virgins/ Nymphs,NaN,Epsilon Canis Majoris,NaN
63,Adhara,NaN,the Virgins/ Nymphs,NaN,Omicron2 Canis Majoris,NaN

In [17]:
NewDF=NewDF.drop('ArabicVowel',1)
NewDF

,CommonName,ArabicNameTransliteration,Meaning,ArabicName,ScientificStarName
0,Baham,Sa'ad ul-Biham,Luck of the Young Beasts,سعد البهام,Theta Pegasi
1,Baten Kaitos,Baṭni Qayṭus,Belly of Cetus,بطن قيطوس,Zeta Ceti
2,Beid,Bayḍ,Eggs,بيض,Omicron1 Eridani
3,Benetnash,Banāt un-Naʿash,Daughters of the bier,بنات النعش,Eta Ursae Majoris
4,Betelgeuse,yad ul-Jawzā',hand of the Central One,يد الجوزاء,Betelgeuse
...,...,...,...,...,...
59,Auva,al-ʽAwwā',the Barking (Dog),الكوكاين,Delta Virginis
60,Azfar Adib,"ʼAẓfaāru ʼdh-Dhiʼb [Azw·faru ʼdh-Dhiʼb], ʼAẓfa...",the Wolf's Nails/ Fingerprints,أظفار الذئب,Azfar Adib
61,Azha,Āshiyānah (Persian: Ôshyôneh),(Ostrich) Nest,اشیانه,Eta Eridani
62,Adhara,NaN,the Virgins/ Nymphs,NaN,Epsilon Canis Majoris
63,Adhara,NaN,the Virgins/ Nymphs,NaN,Omicron2 Canis Majoris

# Merging Cleaned Data and DF's created and adding the final data set to FinalDataSet_Cleaned.xlsx

In [18]:
newtest=pd.merge(CD,NewDF,left_on='Name',right_on='ScientificStarName',how='left')
newtest

,Name,AlternativeNames,SpectralType,BinaryorMultipleStarSystem,StarTypebasedonSpectralType,Colour,Galaxy,Constellation'sMainStar,NakedEyeVisible,RightAscension,...,2007DistanceFromEarthInLightYears,2007DistanceFromEarthInParsecs,2007DistanceFromEarthInAU,GalactoCentricDistanceIn Parsecs,GalactoCentricDistanceInLightYears,CommonName,ArabicNameTransliteration,Meaning,ArabicName,ScientificStarName
0,Alpha Andromedae,"Alpha Andromedae, Alf And, Sirrah, Sirah, Surr...",B9p,Yes,Star,Blue,Milky Way,Yes,Yes,00h 08m 23.17,...,97.01,29.74,6.134273e+06,7409.0,24165.44,Sirrah,Surratu l-Faras,Navel (of the Mare),سُرَّة الفرس,Alpha Andromedae
1,Alpha Andromedae,"Alpha Andromedae, Alf And, Sirrah, Sirah, Surr...",B9p,Yes,Star,Blue,Milky Way,Yes,Yes,00h 08m 23.17,...,97.01,29.74,6.134273e+06,7409.0,24165.44,Alpheratz,(Surrat) al-Faras,(Navel of) the Mare,سُرَّة الفرس,Alpha Andromedae
2,Beta Andromedae,"Beta Andromedae, Bet And, HD 6860, TycId 2286-...",M0IIIvar,Yes,NaN,Red,Milky Way,Yes,Yes,01h 09m 43.80,...,197.44,60.53,1.248512e+07,7433.0,24243.72,Mirach,ʼal-Marāqq,the Loins/ Loinclotht,المراقّ,Beta Andromedae
3,Delta Andromedae,"Del And, HD 3627, TycId 2275-1753-1, HIP 3092,...",K3III...,Yes,NaN,Orange to Red,Milky Way,Yes,Yes,00h 39m 19.60,...,105.52,32.35,6.672620e+06,7414.0,24181.75,NaN,NaN,NaN,NaN,NaN
4,51 Andromedae,"Upsilon Persei, HD 9927, TycId 3282-2271-1, HI...",K3III,NaN,NaN,Orange to Red,Milky Way,Yes,Yes,01h 37m 59.50,...,177.17,54.32,1.120423e+07,7435.0,24250.24,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3447,U Vulpeculae,"HD 185059, TycId 1610-775-1, HIP 96458, BD+20 ...",F8IV,NaN,Subgiant Star,Yellow - White,Milky Way,No,Requires a 7x50 Binoculars,19h 36m 37.73,...,4868.11,1492.54,3.078563e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3448,HD 190228,"TycId 2153-1463-1, HIP 98714, BD+27 3593",G5IV,NaN,Subgiant Star,Yellow,Milky Way,No,Requires a 7x50 Binoculars,20h 03m 00.70,...,200.96,61.61,1.270789e+07,7375.0,24054.55,NaN,NaN,NaN,NaN,NaN
3449,HD 189733,"Wolf 864, TycId 2141-972-1, HIP 98505, BD +22 ...",G5,NaN,Star,Yellow,Milky Way,No,Requires a 7x50 Binoculars,20h 00m 43.71,...,63.44,19.45,4.011823e+06,7391.0,24106.73,NaN,NaN,NaN,NaN,NaN
3450,HD 188015,"TycId 2148-1948-1, HIP 97769, BD+27 3539",G5IV,NaN,Subgiant Star,Yellow,Milky Way,No,Requires a 7x50 Binoculars,19h 52m 04.51,...,185.95,57.01,1.175907e+07,7376.0,24057.81,NaN,NaN,NaN,NaN,NaN
3451,HD 203030,"TycId 2190-1095-1, HIP 105232, BD+25 4507",G8V,NaN,Main Sequence Star,Yellow,Milky Way,No,Requires a 7x50 Binoculars,21h 18m 58.13,...,133.35,40.88,8.432047e+06,7390.0,24103.47,NaN,NaN,NaN,NaN,NaN

In [19]:
newtest.drop_duplicates(subset ="Name",
                     keep = 'last', inplace = True)

newtest

,Name,AlternativeNames,SpectralType,BinaryorMultipleStarSystem,StarTypebasedonSpectralType,Colour,Galaxy,Constellation'sMainStar,NakedEyeVisible,RightAscension,...,2007DistanceFromEarthInLightYears,2007DistanceFromEarthInParsecs,2007DistanceFromEarthInAU,GalactoCentricDistanceIn Parsecs,GalactoCentricDistanceInLightYears,CommonName,ArabicNameTransliteration,Meaning,ArabicName,ScientificStarName
1,Alpha Andromedae,"Alpha Andromedae, Alf And, Sirrah, Sirah, Surr...",B9p,Yes,Star,Blue,Milky Way,Yes,Yes,00h 08m 23.17,...,97.01,29.74,6.134273e+06,7409.0,24165.44,Alpheratz,(Surrat) al-Faras,(Navel of) the Mare,سُرَّة الفرس,Alpha Andromedae
2,Beta Andromedae,"Beta Andromedae, Bet And, HD 6860, TycId 2286-...",M0IIIvar,Yes,NaN,Red,Milky Way,Yes,Yes,01h 09m 43.80,...,197.44,60.53,1.248512e+07,7433.0,24243.72,Mirach,ʼal-Marāqq,the Loins/ Loinclotht,المراقّ,Beta Andromedae
3,Delta Andromedae,"Del And, HD 3627, TycId 2275-1753-1, HIP 3092,...",K3III...,Yes,NaN,Orange to Red,Milky Way,Yes,Yes,00h 39m 19.60,...,105.52,32.35,6.672620e+06,7414.0,24181.75,NaN,NaN,NaN,NaN,NaN
4,51 Andromedae,"Upsilon Persei, HD 9927, TycId 3282-2271-1, HI...",K3III,NaN,NaN,Orange to Red,Milky Way,Yes,Yes,01h 37m 59.50,...,177.17,54.32,1.120423e+07,7435.0,24250.24,NaN,NaN,NaN,NaN,NaN
5,Omicron Andromedae,"Omicron Andromedae, Omi And, HD 217675, TycId ...",B6pv SB,Yes,NaN,Blue,Milky Way,No,Yes,23h 01m 55.25,...,686.66,210.53,4.342463e+07,7445.0,24282.86,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3447,U Vulpeculae,"HD 185059, TycId 1610-775-1, HIP 96458, BD+20 ...",F8IV,NaN,Subgiant Star,Yellow - White,Milky Way,No,Requires a 7x50 Binoculars,19h 36m 37.73,...,4868.11,1492.54,3.078563e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3448,HD 190228,"TycId 2153-1463-1, HIP 98714, BD+27 3593",G5IV,NaN,Subgiant Star,Yellow,Milky Way,No,Requires a 7x50 Binoculars,20h 03m 00.70,...,200.96,61.61,1.270789e+07,7375.0,24054.55,NaN,NaN,NaN,NaN,NaN
3449,HD 189733,"Wolf 864, TycId 2141-972-1, HIP 98505, BD +22 ...",G5,NaN,Star,Yellow,Milky Way,No,Requires a 7x50 Binoculars,20h 00m 43.71,...,63.44,19.45,4.011823e+06,7391.0,24106.73,NaN,NaN,NaN,NaN,NaN
3450,HD 188015,"TycId 2148-1948-1, HIP 97769, BD+27 3539",G5IV,NaN,Subgiant Star,Yellow,Milky Way,No,Requires a 7x50 Binoculars,19h 52m 04.51,...,185.95,57.01,1.175907e+07,7376.0,24057.81,NaN,NaN,NaN,NaN,NaN
3451,HD 203030,"TycId 2190-1095-1, HIP 105232, BD+25 4507",G8V,NaN,Main Sequence Star,Yellow,Milky Way,No,Requires a 7x50 Binoculars,21h 18m 58.13,...,133.35,40.88,8.432047e+06,7390.0,24103.47,NaN,NaN,NaN,NaN,NaN

In [20]:
newtest=newtest.drop('ScientificStarName',1)

In [21]:
newtest

,Name,AlternativeNames,SpectralType,BinaryorMultipleStarSystem,StarTypebasedonSpectralType,Colour,Galaxy,Constellation'sMainStar,NakedEyeVisible,RightAscension,...,1997DistanceFromEarthInAU,2007DistanceFromEarthInLightYears,2007DistanceFromEarthInParsecs,2007DistanceFromEarthInAU,GalactoCentricDistanceIn Parsecs,GalactoCentricDistanceInLightYears,CommonName,ArabicNameTransliteration,Meaning,ArabicName
1,Alpha Andromedae,"Alpha Andromedae, Alf And, Sirrah, Sirah, Surr...",B9p,Yes,Star,Blue,Milky Way,Yes,Yes,00h 08m 23.17,...,6.138398e+06,97.01,29.74,6.134273e+06,7409.0,24165.44,Alpheratz,(Surrat) al-Faras,(Navel of) the Mare,سُرَّة الفرس
2,Beta Andromedae,"Beta Andromedae, Bet And, HD 6860, TycId 2286-...",M0IIIvar,Yes,NaN,Red,Milky Way,Yes,Yes,01h 09m 43.80,...,1.260682e+07,197.44,60.53,1.248512e+07,7433.0,24243.72,Mirach,ʼal-Marāqq,the Loins/ Loinclotht,المراقّ
3,Delta Andromedae,"Del And, HD 3627, TycId 2275-1753-1, HIP 3092,...",K3III...,Yes,NaN,Orange to Red,Milky Way,Yes,Yes,00h 39m 19.60,...,6.408603e+06,105.52,32.35,6.672620e+06,7414.0,24181.75,NaN,NaN,NaN,NaN
4,51 Andromedae,"Upsilon Persei, HD 9927, TycId 3282-2271-1, HI...",K3III,NaN,NaN,Orange to Red,Milky Way,Yes,Yes,01h 37m 59.50,...,1.099384e+07,177.17,54.32,1.120423e+07,7435.0,24250.24,NaN,NaN,NaN,NaN
5,Omicron Andromedae,"Omicron Andromedae, Omi And, HD 217675, TycId ...",B6pv SB,Yes,NaN,Blue,Milky Way,No,Yes,23h 01m 55.25,...,4.379178e+07,686.66,210.53,4.342463e+07,7445.0,24282.86,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3447,U Vulpeculae,"HD 185059, TycId 1610-775-1, HIP 96458, BD+20 ...",F8IV,NaN,Subgiant Star,Yellow - White,Milky Way,No,Requires a 7x50 Binoculars,19h 36m 37.73,...,3.495999e+08,4868.11,1492.54,3.078563e+08,NaN,NaN,NaN,NaN,NaN,NaN
3448,HD 190228,"TycId 2153-1463-1, HIP 98714, BD+27 3593",G5IV,NaN,Subgiant Star,Yellow,Milky Way,No,Requires a 7x50 Binoculars,20h 03m 00.70,...,1.281102e+07,200.96,61.61,1.270789e+07,7375.0,24054.55,NaN,NaN,NaN,NaN
3449,HD 189733,"Wolf 864, TycId 2141-972-1, HIP 98505, BD +22 ...",G5,NaN,Star,Yellow,Milky Way,No,Requires a 7x50 Binoculars,20h 00m 43.71,...,3.970570e+06,63.44,19.45,4.011823e+06,7391.0,24106.73,NaN,NaN,NaN,NaN
3450,HD 188015,"TycId 2148-1948-1, HIP 97769, BD+27 3539",G5IV,NaN,Subgiant Star,Yellow,Milky Way,No,Requires a 7x50 Binoculars,19h 52m 04.51,...,1.085564e+07,185.95,57.01,1.175907e+07,7376.0,24057.81,NaN,NaN,NaN,NaN
3451,HD 203030,"TycId 2190-1095-1, HIP 105232, BD+25 4507",G8V,NaN,Main Sequence Star,Yellow,Milky Way,No,Requires a 7x50 Binoculars,21h 18m 58.13,...,8.425859e+06,133.35,40.88,8.432047e+06,7390.0,24103.47,NaN,NaN,NaN,NaN

In [22]:
newtest.to_excel("FinalDataSet_Cleaned.xlsx")